/*Carousel*/


/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

/*Navigation*/

:root {
    --background:#16213E;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

  .hero {
    display: flex;
  }

.hero-image img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.navigation {
    background: var(--background);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.1em;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
}

.navigation img {
  padding: 15px;
  padding-bottom: 10px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

.nav-toggle-label span {
    color: white;
    font-size: 1.5em;
  }

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inria Sans', sans-serif;
  }

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
  }

nav a:hover {
    color: #FFF38C;
  }

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  /*Registration*/

  .registration {
    font-family:'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
    background-color: #794969;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .registration h2 {
    font-size: 2.5em;
    color: white;
    padding-top: 20px;
  }

  .registration h3 {
    font-size: 1.5em;
    font-family: 'Inria Sans', sans-serif;
    color: white;
  }

  .registration h4 {
    font-size: 1.5em;
    color: white;
    background-color: #16213E;
    padding: 12px;
    width: 250px;
    margin: 15px auto;
  }

  button {
    text-decoration: none;
    font-family: 'HeadlandOne', serif;
    background-color:#FFF38C;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: #FFF9BF;
  }

.confirm-button {
    text-align: center;
    margin-bottom: 15px;
}

.confirm-button button {
    background-color: #16213E;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 0px;
    display: flex;
    margin: 10px auto;
}

.confirm-button button:hover {
  background-color: #406080;
}

.confirm-image {
  display: flex;
  margin-left: 8px;
}

/*Introduction*/

.introduction {
    padding: 5;
    margin: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-content  {
  text-align: center;
  justify-content: center;
  width: 80%;
}

.introduction h3 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.8em;
    margin-top: 15px;
    padding-right: 10px;  
}

.introduction p {
    font-family: 'HeadlandOne', serif;
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

.intro-images {
  margin: 15px; 
}

.intro-images img {
  margin: 5px;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}

/*Testimonials*/

.testimonials {
  background: #FFF9BF;
  padding: 15px;
}

.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  letter-spacing: 1.2px;
  margin: 15px;
  text-align: center;
}

.testimonials h4 {
 font-family: 'Bebas Neue', sans-serif;
 letter-spacing: 1.2px;
 font-size: 1.2em;
 color: white;
}

.testimonials p {
    font-family: 'HeadlandOne', serif;
    font-size: 15px;
    color: white;
}

.testimonials img {
  width: 15%;
  height: 15%;
}

.t-card-1 {
  background: #16213E;
  padding: 20px;
  margin: 5px;
  width: 35%;
  height: 50%;
}

.t-card-2 {
  background:#994D8C;
  padding: 20px;
  margin: 5px;
  width: 35%;
  height: 50%;
}

.t-card-3 {
  background:#794969;
  padding: 20px;
  margin: 5px;
  width: 35%;
  height: 50%;
}

.t-card-4 {
  background:#406080;
  padding: 20px; 
  margin: 5px;
  width: 35%;
  height: 50%;
}

/*Program Details*/

.program-details h1 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.5em;
  padding: 15px;
}

.program-details p {
  font-family: 'HeadlandOne', serif;
  text-align: center;
  padding: 30px;
  padding-top: 45px;
  line-height: 2em;
  font-size: 18px;
}

/*Carousel*/

.main-carousel {
  align-items: center;
}

.carousel-cell {
  width: 35%; /* full width */
  height: 300px; /* height of carousel */
  margin: 5px;
}

.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flickity-button {
  background: transparent;
}

.flickity-button:hover {
  background: #406080;
  opacity: 80%;
}

.flickity-prev-next-button {
  width: 40px;
  height: 40px;
  color: #FFE666;
}

.flickity-button:disabled {
  display: none;
}

/*Performers*/

.perform-card {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  width: 50%;
  background: #FFE666;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}
.perform-card-1-col {
  margin: 1em auto;
}

.performers-2-col {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.performers-2-col > div {
  width: 45%;
}

.perform-card h3 {
  font-size: 1.8em;
  line-height: 1.5em;
}

.performers h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.5em;
  text-align: center;
}

.performers p {
  font-family: 'HeadlandOne', serif;
  font-size: 16px;
}

/*Frequently Asked Questions*/

.faq {
  background:#FFF9BF;
  margin-top: 5px;
}

.faq-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.faq h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.5em;
  margin: 15px;
  padding: 10px;
  text-align: center; 
}

.faq h2 {
  font-family: 'Inria Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  width: max-content;
  border-radius: 30px;
  color: white;
  background: #16213E;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.faq h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  margin-top: 5px;
  color: white;
  text-align: center;
}

.faq p {
  font-family: 'HeadlandOne', serif;
  color: white;
  line-height: 1.3em;
  text-align: center;
}

.faq-card-1 {
  background: #967399;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  width: 35%;
  height: 70%;
}

.faq-card-2 {
  background: #967399;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  width: 35%;
  height: 70%;
}

.faq-card-3 {
  background: #967399;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  width: 35%;
  height: 70%;
}

.faq-card-4 {
  background: #967399;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  width: 35%;
  height: 70%;
}

/*Footer*/

.footer {
  background: #406080;
  color: white;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.footer-header  {
display: flex;
}

.footer-copyright {
display: flex;
justify-content: center;
}

.footer-social-media {
  display: flex;
  /*justify-content: right;*/
}

.footer h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  padding: 10px;
  text-align: left;
}

.footer h3 {
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.4em;
  margin-right: 60px;
  padding: 10px;
  text-align: right;
  
}

.footer h4 {
  font-family: 'HeadlandOne', serif;
  font-size: 0.8em;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-images img {
  object-fit: cover;
  padding: 5px;
  margin: 5px;
}

/*Food Offerings Page*/

.food-offerings h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 10px;
}

.food-card-image {
  flex: 1;
}

.food-card-content {
  flex: 2;
}

.food-card-1 {
  padding: 10px;
  margin: 10px auto;
  gap: 1em;
  color: white;
  background: #967399;
  display: flex;
  text-align: center;
  width: 75%;
  height: 60%;
}

.food-card-1 img {
width: 100%;
height: 100%;
object-fit: cover;
}

.food-card-1 h3 {
  font-family: 'Bebas Neue', sans-serif;
  background: #FFF38C;
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 80px;
  letter-spacing: 1.2px;
  font-size: 1.8em;
  margin-bottom: 1em;
}

.food-card-1 p {
  font-family: 'HeadlandOne',serif;
  line-height: 1.5em;
  font-size: 1em;
  display: flex;
  text-align: center;
}

.food-card-2 {
  padding: 10px;
  margin: 10px auto;
  gap: 1em;
  color: white;
  background: #967399;
  display: flex;
  width: 75%;
  height: 60%;
}

.food-card-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-card-2 h3 {
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  background: #FFF38C;
  text-align: center;
  padding: 10px;
  padding-bottom: 8px;
  margin-top: 80px;
  letter-spacing: 1.2px;
  font-size: 1.8em;
  margin-bottom: 1em;
}

.food-card-2 p {
  font-family: 'HeadlandOne',serif;
  line-height: 1.5em;
  font-size: 1em;
  text-align: center;
}

.food-card-3 {
  padding: 10px;
  margin: 10px auto;
  gap: 1em;
  color: white;
  background: #967399;
  display: flex;
  width: 75%;
  height: 60%;
}

.food-card-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-card-3 h3 {
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  background: #FFF38C;
  text-align: center;
  padding: 10px;
  padding-bottom: 8px;
  margin-top: 80px;
  letter-spacing: 1.2px;
  font-size: 1.8em;
  margin-bottom: 1em;
}

.food-card-3 p {
  font-family: 'HeadlandOne',serif;
  line-height: 1.5em;
  font-size: 1em;
  text-align: center;
}

/*Location Page*/

.location {
  background-color: #967399;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
}

.location-content {
  flex: 2;
  text-align: center;
}

.location-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.location-title h2 {
  margin-top: 15px;
}

.location-icon {
  object-fit: cover;
  justify-content: center;
  margin: 10px;
  margin-top: 0px;
}

.location-img-map {
  flex: 1;
  gap: 1em;
  padding: 10px;
}

.location-img-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-header  {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 10px;
}

.location h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  letter-spacing: 1.2px;
}

.location p {
  font-family: 'HeadlandOne',serif;
  color: white;
  text-align: center;
}

.weather {
  background: #FFE666;
  padding: 15px;
  margin: 10px auto;
  width: 850px;
  height: 100%;
  align-items: center;
}

.weather-description {
  display: flex;
  align-items: center;
  
}

.weather-description-icon {
  margin: 15px;
}

.weather-header {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 10px;
}

.weather h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.2em;
  letter-spacing: 1.2px;
  margin: 20px;
}

.weather p {
  font-family: 'HeadlandOne',serif;
  font-size: 1.3em;
}

/*Media Queries*/

/*Media Query for navigation*/

@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }
  
  .navigation {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2/3;
    line-height: 100px;
    /*padding-top: 30px;*/
  }
  
  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2,1fr)
  }
}

@media (max-width: 600px) {
  .container {
    display: block;
  }
}

/*Media Query for registration/hero*/
@media screen and (max-width: 600px) {
.hero {
   display: flex;
   flex-direction: column;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
}


}

/*Media Query for introduction*/
@media screen and (max-width: 600px) {
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-images {
  display: flex;
  flex-direction: row;
}

.intro-images img {
  width: 55%;
}
}

/*Media Query for testimonial cards*/
@media screen and (max-width: 600px) {
 .testimonial-cards {
  display: flex;
  flex-direction: column;
  align-content: center;
 }

 .testimonial-cards img {
  width: 30%;
  height: 30%;
 }

 .t-card-1 {
  width: 70%;
 }

 .t-card-2 {
  width: 70%;
 }

 .t-card-3 {
  width: 70%;
 }

 .t-card-4 {
  width: 70%;
 }
}

/*Media Query for Carousel*/
@media screen and (max-width: 600px) {
  .carousel-cell {
    width: 35%; /* full width */
    height: 160px; /* height of carousel */
    margin: 5px;
  }

  .flickity-prev-next-button {
    width: 20px;
    height: 20px;
    color: #FFE666;
  }

  .flickity-prev-next-button.previous {
    left: -20px;
  }

  .flickity-prev-next-button.next {
    right: -20px;
  }
}

/*Media Query for performer cards*/
@media screen and (max-width: 600px) {
  .perform-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
  }
}

/*Media Query for faq cards*/
@media screen and (max-width: 600px) {
  .faq-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faq-card-1 {
    width: 65%;
  }

  .faq-card-2 {
    width: 65%;
  }

  .faq-card-3 {
    width: 65%;
  }

  .faq-card-4 {
    width: 65%;
  }
}

/*Media Query for footer*/
@media screen and (max-width: 600px) {
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
}
}

/*Media Query for food cards*/
@media screen and (max-width: 600px) {
  .food-card-1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 85%;
  }

  .food-card-1 h3 {
    margin: 0 auto;
  }

  .food-card-1 p {
    margin-top: 10;
  }

  .food-card-2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 85%;
  }

  .food-card-2 h3 {
    margin: 0 auto;
  }

  .food-card-2 p {
    margin-top: 10;
  }

  .food-card-3 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 85%;
  }

  .food-card-3 h3 {
    margin: 0 auto;
  }

  .food-card-3 p {
    margin-top: 10;
  }
}

/*Media Query for location cards*/
@media screen and (max-width: 600px) {
 .location {
  background-size: cover;
  width: 80%;
 }

 .location-title {
  display: flex;
  flex-direction: column;
 }

 .location p {
  line-height: 1.3em;
 }
 
 .location h2 {
  margin: 5px;
 }

  .weather {
  display: flex;
  flex-direction: column;
  width: 80%;
 }

 .weather-description {
  display: flex;
  flex-direction: column;
  text-align: center;
 }

 .weather-description-icon {
  margin: 5px;
}

.weather h2 {
  margin: 5px;
}
}
