/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

/*Navigation*/

:root {
    --background:#16213E;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

  .hero {
    display: flex;
  }

.hero-image img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.navigation {
    background: var(--background);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.1em;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0;
}

.navigation img {
  padding: 15px;
  padding-bottom: 10px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

.nav-toggle-label span {
    color: white;
    font-size: 1.5em;
  }

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inria Sans', sans-serif;
  }

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
  }

nav a:hover {
    color: #FFF38C;
  }

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

/*Media Query for Desktop*/

@media screen and (min-width: 600px) {
    .nav-toggle-label {
      display: none;
    }
    
    .navigation {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
      grid-column: 2/3;
      line-height: 100px;
      /*padding-top: 30px;*/
    }
    
    nav {
      all: unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
      justify-content: flex-end;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
  }
  
@media (max-width: 800px) {
    .container {
      grid-template-columns: repeat(2,1fr)
    }
  }
  
@media (max-width: 600px) {
    .container {
      display: block;
    }
  }

  /*Registration*/

  .registration {
    font-family:'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
    background-color: #794969;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .registration h2 {
    font-size: 2.5em;
    color: white;
    padding-top: 20px;
  }

  .registration h3 {
    font-size: 1.5em;
    font-family: 'Inria Sans', sans-serif;
    color: white;
  }

  .registration h4 {
    font-size: 1.5em;
    color: white;
    background-color: #16213E;
    padding: 12px;
    width: 250px;
    margin: 15px auto;
  }

  button {
    text-decoration: none;
    font-family: 'HeadlandOne', serif;
    background-color:#FFF38C;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: #FFF9BF;
  }

.confirm-button {
    text-align: center;
    margin-bottom: 15px;
}

.confirm-button button {
    background-color: #16213E;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 0px;
    display: flex;
    margin: 10px auto;
}

.confirm-button button:hover {
  background-color: #406080;
}

.confirm-image {
  display: flex;
  margin-left: 8px;
}

/*Introduction*/

.introduction {
    padding: 10px;
    margin: 5px auto;
}

.introduction h3 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.introduction p {
    font-family: 'HeadlandOne', serif;
    font-size: 20px; 
    line-height: 1.5em;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-images {
  margin: 8px; 
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro-images img {
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
}

/*Testimonials*/

.testimonials {
  background: #FFF9BF;
  padding: 15px;
}

.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  letter-spacing: 1.2px;
  margin: 15px;
  text-align: center;
}

.testimonials h4 {
 font-family: 'Bebas Neue', sans-serif;
 letter-spacing: 1.2px;
 font-size: 1.2em;
 color: white;
}

.testimonials p {
    font-family: 'HeadlandOne', serif;
    font-size: 15px;
    color: white;
}

.testimonials img {
  width: 15%;
  height: 15%;
}

.t-card-1 {
  background: #16213E;
  padding: 20px;
  margin: 5px;;
  width: 35%;
  height: 50%;
}

.t-card-2 {
  background:#994D8C;
  padding: 20px;
  margin: 5px;
  width: 35%;
  height: 50%;
}

.t-card-3 {
  background:#794969;
  padding: 20px;
  margin: 5px;
  margin-bottom: 10px;
  width: 35%;
  height: 50%;
}

.t-card-4 {
  background:#406080;
  padding: 20px; 
  margin: 5px;
  margin-bottom: 10px;
  width: 35%;
  height: 50%;
}

/*Program Details*/

.program-details h1 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.5em;
}

.program-details p {
  font-family: 'HeadlandOne', serif;
  text-align: center;
  padding: 50px;
  padding-top: 30px;
  line-height: 1.5em;
  font-size: 18px;
}

/*Carousel*/

.carousel-cell {
  width: 25%; /* full width */
  height: 300px; /* height of carousel */
  margin-right: 10px;
}

.flickity-button {
  background: transparent;
}

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
}

.flickity-button:disabled {
  display: none;
}

/*Performers*/

.performers h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.5em;
  text-align: center;
}

.perform-card-1 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
}

.perform-card-2 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
}

.perform-card-3 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
}

.perform-card-4 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
}

.perform-card-5 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
}

.perform-card-1 p {
  font-family: 'HeadlandOne', serif;
  font-size: 16px;
}

.perform-card-2 p {
  font-family: 'HeadlandOne', serif;
  font-size: 16px;
}

.perform-card-3 p {
  font-family: 'HeadlandOne', serif;
  font-size: 16px;
}

.perform-card-4 p {
  font-family: 'HeadlandOne', serif;
  font-size: 16px;
}

.perform-card-5 p {
  font-family: 'HeadlandOne', serif;
  font-size: 16px;
}

.perform-card-1 {
  background: #FFE666;
  width: 40%;
  height: 20%;
  padding: 15px;
  margin: 5px auto;
}

.p-card-1-text {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: left;
}

.perform-card-2 {
  background: #FFE666;
  width: 40%;
  height: 20%;
  padding: 15px;
  margin: 5px auto;
}

.perform-card-3 {
  background: #FFE666;
  width: 40%;
  height: 20%;
  padding: 15px;
  margin: 5px auto;
}

.perform-card-4 {
  background: #FFE666;
  width: 40%;
  height: 20%;
  padding: 15px;
  margin: 5px auto;
}

.perform-card-5 {
  background: #FFE666;
  width: 40%;
  height: 20%;
  padding: 15px;
  margin: 5px auto;
}

.perform-cards {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.performers img {
width: 20%;
height: 20%;
}

/*Frequently Asked Questions*/

.faq {
  background:#FFF9BF;
  background-size: cover;
  margin-bottom: 0px;
  padding: 15px;
}

.faq-cards  {
display: flex;
flex-basis: auto;
flex-wrap: wrap;
flex-direction: row;
}

.faq h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.5em;
  text-align: center; 
}

.faq-card-1 h2 {
  font-family: 'Inria Sans', sans-serif;
  font-size: 2em;
  color: white;
  background: #16213E;
  width: fit-content;
  padding: 30px;
  margin: 10px;
  margin-right: 0;
  margin-bottom: 0px;
  border-radius: 150px;
}

.faq-card-2 h2 {
  font-family: 'Inria Sans', sans-serif;
  font-size: 2em;
  color: white;
  background: #16213E;
  width: fit-content;
  padding: 30px;
  margin: 10px;
  margin-bottom: 0px;
  margin-bottom: 10px;
  border-radius: 150px;
}

.faq-card-3 h2 {
  font-family: 'Inria Sans', sans-serif;
  font-size: 2em;
  color: white;
  background: #16213E;
  width: fit-content;
  padding: 30px;
  margin: 10px;
  margin-bottom: 0px;
  margin-bottom: 10px;
  border-radius: 150px;
}

.faq-card-4 h2 {
  font-family: 'Inria Sans', sans-serif;
  font-size: 2em;
  color: white;
  background: #16213E;
  width: fit-content;
  padding: 30px;
  margin: 10px;
  margin-bottom: 0px;
  margin-bottom: 10px;
  border-radius: 150px;
}

.faq-card-1 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-2 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-3 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-4 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-1 p {
  font-family: 'HeadlandOne', serif;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-2 p {
  font-family: 'HeadlandOne', serif;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-3 p {
  font-family: 'HeadlandOne', serif;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-4 p {
  font-family: 'HeadlandOne', serif;
  color: white;
  padding: 5px;
  text-align: center;
}

.faq-card-1 {
  background: #967399;
  padding: 15px;
  margin: 10px auto;
  width: 800px;
  border-radius: 15px;
}

.faq-card-2 {
  background: #967399;
  padding: 15px;
  margin: 10px auto;
  width: 800px;
  border-radius: 15px;
}

.faq-card-3 {
  background: #967399;
  padding: 15px;
  margin: 10px auto;
  width: 800px;
  border-radius: 15px;
}

.faq-card-4 {
  background: #967399;
  padding: 15px;
  margin: 10px auto;
  margin-bottom: 0px;
  width: 800px;
  border-radius: 15px;
}

/*Footer*/

.footer {
  background: #406080;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 15px;
}

.footer h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
}

.footer h3 {
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.4em;
}

.footer h4 {
  font-family: 'HeadlandOne', serif;
  font-size: 0.8em;
  padding: 10px;
}

.footer-images img {
width: 20%;
padding: 5px;
}

/*Food Offerings Page*/

.food-offerings h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}

.food-card-1 {
  padding: 10px;
  margin: 10px auto;
  color: white;
  background: #967399;
  display: flex;
}

.food-card-1 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 1.8em;
}

.food-card-1 p {
  font-family: 'HeadlandOne',serif;
}

.food-card-2 {
  padding: 10px;
  margin: 10px auto;
  color: white;
  background: #967399;
  display: flex;
}

.food-card-2 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 1.8em;
}

.food-card-2 p {
  font-family: 'HeadlandOne',serif;
}

.food-card-3 {
  padding: 10px;
  margin: 10px auto;
  color: white;
  background: #967399;
  display: flex;
}

.food-card-3 h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  font-size: 1.8em;
}

.food-card-3 p {
  font-family: 'HeadlandOne',serif;
}

/*Location Page*/

.location h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}

.location h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  color: white;
}

.location p {
  font-family: 'HeadlandOne', serif;
  color: white;
}

.location {
  background:#967399;
  width: fit-content;
  padding: 10px;
}

.location-map {
  width: 35%;
  height: 35%;
}

.location-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-card img {
  width: 40px;
}

.weather h1 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}

.weather h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;
}

.weather p {
  font-family: 'HeadlandOne', serif;
  line-height: 2.5px;
}

.weather {
  background:#FFE666;
  padding: 10px;
  margin: 10px auto;
}

.weather-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px auto;
}